@import "../../styles/variables";

.FlexRow {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.FlexCol {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

a:link,
a:visited {
  color: blue;
  text-decoration: none;
}

.Description {
  text-align: left;
}

.Description::first-line {
}

.DatasetListing {
  padding: 20px;
}

.DatasetTitle {
  font-weight: bold;
  padding: 3px;
}

.ExpandButton {
  vertical-align: middle;
}

.CardFooterRight {
  float: right;
}

.CardFooterLeft {
  float: left;
}

.DataTitle {
  font-size: 20px;
}

.DataSubtitle {
  font-size: 15px;
}

.MuiTableCell {
  border-bottom: none;
}

.MetadataTable {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;

  td {
    padding-right: 15px;
  }
}

.Footer Button {
  color: blue;
}
